{# create full list of backends allbackends #}
{% set allbackends = [] %}
{# map prefix ids to backends ids #}
{% set pbackends = [] %}
{# map backends ids to string to be used #}
{% set backmap = [] %}
{% if "backends" in site and site.backends %}
{%   set backends = site.backends %}
{%   set _ = allbackends.append(site.backends) %}
{% else %}
{%   set backends = [] %}
{% endif %}
{% for prefix in site.prefixes %}
{%   if "backends" in prefix %}
{%     if allbackends | map("join","+") | select("match",prefix.backends | map("regex_replace","^(.*//[^/]*).*","\\1") | join("+") | regex_escape) | count == 0 %}
{%       set _ = allbackends.append(prefix.backends | map("regex_replace","^(.*//[^/]*).*","\\1")) %}
{%       set _ = pbackends.append(allbackends | count - 1) %}
{%     else %}
{%       set _ = pbackends.append(allbackends.index(prefix.backends | map("regex_replace","^(.*//[^/]*).*","\\1"))) %}
{%     endif %}
{%   else %}
{#     keep index same as prefixes #}
{%     set _ = pbackends.append(false) %}
{%   endif %}
{% endfor %}
# {{ ansible_managed }}
<VirtualHost {% if site.listen | join(" ") is search(':') %}{{ site.listen | join(" ") }}{% else %}{% for l in site.listen %}*:{{ l }} {% endfor %}{% endif %}>
  ServerName {{ site.name }}
{% if "aliases" in site %}
  # aliases
{%   for alias in site.aliases %}
  ServerAlias {{ alias }}

{%   endfor %}
{% endif %}

{% if site.default_index %}
  DirectoryIndex {{ site.default_index }}
{%- endif %}

{% if site.webroot | default(site.rootdir) %}
  DocumentRoot {{ site.webroot | default(site.rootdir) }}

  <Directory {{ site.webroot | default(site.rootdir) }}>
    Require all granted
  </Directory>
{% endif %}

{% if "protocols" in site %}
Protocols {{ site.protocols }}
{% endif %}

{%- if "tls_cert" in site and "tls_key" in onesite %}
  # TLS config
  SSLEngine on
  SSLCertificateFile {{ tls_dir }}/{{ site.tls_cert }}
  SSLCertificateKeyFile {{ tls_dir }}/private/{{ site.tls_key }}

{%   if "tls_hsts" in site or site.tls_redir | bool %}
  # + HSTS
  Header unset Strict-Transport-Security
  Header set Strict-Transport-Security "max-age={{ site.tls_hsts | default('31536000') }}"
{%-   endif %}

{%   if allbackends | count > 0 %}
  # reverse-proxy HTTPS
  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set X-Forwarded-HTTPS "On"
  RequestHeader set X-Forwarded-Port "443"
{%   endif %}
{%- endif %}

{% for directive in site.apache_directives %}
  {{ directive }}
{% endfor %}

{% if allbackends | count() > 0 %}
  # backends: {{ allbackends | join(",") }}
  # keep host name in request
  ProxyPreserveHost On
{%   for backs in allbackends %}
{%     if backs | count > 1 %}
{# map pid with backend string to be used later #}
{%       set _ = backmap.append("balancer://"+site.id+loop.index | string) %}
  # load balancer {{ loop.index }}
  <Proxy balancer://{{ site.id }}{{ loop.index }}>
{%       for backend in backs %}
    BalancerMember {{ backend }}{% if backend is not search("route=") %} route={{ backend | regex_replace("^.*//([^/\.]*).*","\\1") }}{% endif %}{% if backend is not search("connectiontimeout=") %} connectiontimeout=3{% endif %}

{%       endfor %}
    Require all granted
    ProxySet stickysession={{ site.stickysession | default(site.id+"B"+loop.index | string) }}
{%         if "failonstatus" in site %}
    ProxySet failonstatus={{ site.failonstatus | join(",") }}
{%         endif %}
  </Proxy>
{%     elif backs | count == 1 %}
{# map pid with backend string to be used later #}
{%       set _ = backmap.append(backs[0]) %}
  # simple reverse-proxy (backends = {{ backs[0] }})
  <Proxy {{ backs[0] | regex_replace(" .*$","")}}>
    Require all granted
  </Proxy>
{%     else %}
{# map pid with backend string to be used later #}
{%       set _ = backmap.append(site.sitebackend) %}
{%     endif %}
{%   endfor %}
{%   if backmap | select("match","balancer:") | count > 0 %}
{%     if admin_from %}
  # balancer-manager from admin ip's
  <Location "/balancer-manager">
    SetHandler balancer-manager
{%       for net in admin_from %}
    Require ip {{ net }}
{%       endfor %}
  </Location>
  ProxyPass /balancer-manager !
{%     endif %}
{%   endif %}
{% endif %}

{# debug
# allbackends = {{ allbackends | to_json }}
# prefixes backends = {{ pbackends | to_json }}
# backmap = {{ backmap | to_json }}
#}
{% if monitoring_from | count > 0 and site.fcgi_status_path %}
  # monitoring
  <Location "{{ site.fcgi_status_path }}">
{%   for net in monitoring_from + admin_from | default([]) %}
    Require ip {{ net }}
{%   endfor %}
  </Location>
{% endif %}


{% if "backend" in site and site.backend == "php-fpm" %}
  # backend = php-fpm, fcgisocket = {{ site.fcgisocket }}
  <FilesMatch ".*\.php$">
{%   if site.fcgisocket is match ("^/") %}
    SetHandler "proxy:unix:{{ site.fcgisocket }}|fcgi://localhost/"
{%   else %}
    SetHandler "proxy:fcgi://fcgisocket"
{%   endif %}
  </FilesMatch>
{% endif %}

{% for prefix in site.prefixes %}
{%   if "path" in prefix %}
{%     set prefixtype="Location" %}
{%   elif "regex" in prefix %}
{%     set prefixtype="LocationMatch" %}
{%   else %}
  {{ undef(hint="prefix need path or regex") }}
{%   endif %}
  # prefix {{ prefix.path | default(prefix.regex) }}
  <{{ prefixtype }} "{{ prefix.path | default(prefix.regex) }}">
{%   if "apache_includes" in prefix and prefix.apache_includes | count > 0 %}
    # prefix."{{ prefix.path | default(prefix.regex) }}".apache_includes
{%     for include in prefix.apache_includes %}
    Include {{ apache_etcdir }}/{{ include | basename | regex_replace(".j2$","") }}

{%     endfor %}
{%   endif %}
{%   if "apache_directives" in prefix and prefix.apache_directives | count > 0 %}
{%     for directive in prefix.apache_directives %}
    {{ directive }}
{%     endfor %}
{%   endif %}
{%   if prefix.allow_from_nets | default([]) | count + prefix.allow_from | default([]) | count + prefix.apache_includes | default([]) | count > 0 %}
{%     if prefix.allow_from_nets | default([]) | count > 0 %}
    # prefix."{{ prefix.path | default(prefix.regex) }}".allow_from_nets
{%       for net in prefix.allow_from_nets %}
    Require ip {{ net }}
{%       endfor %}
{%     endif %}
{%     if prefix.allow_from | default([]) | count > 0 %}
{%       for cond in prefix.allow_from %}
    Require {{ cond }}
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if "options" in prefix %}
    Options {{ prefix.options | join(" ") }}
{%   endif %}

{%   if "backends" in prefix or ( "path" in prefix and prefix.path == "/" and "backends" in site ) %}
{%     if "prefixbackend" in prefix %}
{%       set prefixbackend=site.prefixbackend %}
{%     else %}
{%       if "path" in prefix and prefix.path == "/" and "backends" in site %}
{%         set prefixbackid=0 %}
{%         set prefixbackend=backmap[0] %}
{%         set prefixpath="/" %}
{%       else %}
{%         set prefixbackid=pbackends[loop.index - 1] %}
{%         set prefixbackend=backmap[prefixbackid] %}
{%         if ( prefix.backends[0] | regex_replace("^.*//[^/ ]+(/[^ ]*) ?.*$","\\1") == prefix.backends[0] ) %}
{%           set prefixpath="" %}
{%         else %}
{%           set prefixpath=prefix.backends[0] | regex_replace("^.*//[^/ ]+(/[^ ]*) ?.*$","\\1") %}
{%         endif %}
{%       endif %}
    Header add Set-Cookie "{{ site.id }}B{{ prefixbackid + 1 }}=.%{BALANCER_WORKER_ROUTE}e; path=/;HttpOnly;Secure;SameSite=strict" env=BALANCER_ROUTE_CHANGED
    ProxyPass {{ prefixbackend }}{{ prefixpath }}{% if allbackends[prefixbackid][0] is search("=") and  allbackends[prefixbackid] | count > 1 %} {{ allbackends[prefixbackid][0] | regex_replace("^[^ ]* ","") }}{% endif %}

    ProxyPassReverse {{ prefixbackend }}{{ prefixpath }}
{%     endif %}
{%   endif %}

  </{{ prefixtype }}>
{% endfor %}

{% if "apache_includes" in site %}
  # site.apache_includes
{%   for include in site.apache_includes %}
  Include {{ apache_etcdir }}/{{ include | basename | regex_replace(".j2$","") }}

{%   endfor %}
{% endif %}

{% if "cache" in site %}
# site.cache: {{ site.cache | count() }} items
{% for c in site.cache %}
  CacheEnable {{ c }}

{% endfor %}
{% endif %}

{% if "redirectmatch" in site %}
# site.redirectmatch: {{ site.redirectmatch | count() }} items
{% for red in site.redirectmatch %}
  RedirectMatch {{ red.type | default("temp") }} "{{ red.regex }}" {{ red.dest }}

{% endfor %}
{% endif %}

{% if monitoring_from | default([]) | count > 0 and site.status_path %}
  # status URL from monitoring
  <Location "{{ site.status_path }}">
    SetHandler server-status
{%   for net in monitoring_from %}
    Require ip {{ net }}
{%   endfor %}
  </Location>
{% endif %}

</VirtualHost>

{% if site.tls and site.tls_redir %}
<VirtualHost {% for l in site.listen %}{% if l is search(':[0-9]+$') %}{{ l | regex_replace(':[0-9]+$',':80') }} {% else %}*:80{% endif %}{% endfor %}>
  ServerName {{ site.name }}
{% if "aliases" in site %}
{%   for alias in site.aliases %}
  ServerAlias {{ alias }}

{%   endfor %}
{% endif %}
  Redirect permanent "/" "https://{{ site.name }}{% if not site.listen | join(" ") | regex_search(':?443') %}:{{ site.listen | join(" ") | regex_replace('.*:','') }}{% endif %}/"
</VirtualHost>
{% endif %}
